table {
    width: 10cm;
    border-collapse: collapse;
    margin: 0 auto;
  }
  
  th, td {
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  th {
    text-align: left;
    font-weight: bold;
  }
  
  td {
    text-align: center;
    width: 70%;
  }